

html{
    background-color: #F3F5FC;
}

body *{
    font-family: 'Inter', sans-serif;
}

main{
    width:120vh;
    margin: 0 auto;
    height: 500px;
}

.text-box{
    width: 75%;
    display:inline-block;
}

.text-container{
    display: inline-block; 
    width: 90%;
    height: 450px;
    border-color: transparent;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    outline:none;
    resize: none;
    font-size: 18px;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.199);
}
.container-padre{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 10%;
    position: relative;
}

.container-text p:first-child{
    width: 50%;
    font-weight: bold;
    text-align: center;
    margin-left: 65px;
    font-size: 15px;
}

.img-munheco{
    width: 168px;
    height: 152px;
    margin-top: 60%;
}

.result-box {
    display:flex;
    flex-direction: column;
    width: 25%;
    position: relative;
    text-align: center;
    align-items: center;
    background: white;
    border-radius: 20px;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.199);
}

.advertencia{
    font-size: 14px;
    padding: 5px 0;
}

.advertencia:before {
    display: inline-block;
    content: "!";
    border-radius: 50%;
    background-color: #495057;
    color: white;
    width: 16px;
    height: 16px;
    text-align: center;
}

input {
    width: 20%;
    padding: 15px;
    font-size: 14px;
    color:white;
    border-color: transparent;
    border-style: double;
    border-radius: 20px;
    cursor: pointer;
    
}

.boton-encriptar {
    background:#0A3871;
    margin-left: 295px;
}

.boton-desencriptar {
    color:black;
    background: #D8DFE8;
    border-color: #0A3871;
    margin-left: 20px;
}
